a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ab9178;
}
a:hover,
a:focus,
a:active {
  color: inherit;
}
body {
  position: relative;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 13px;
  letter-spacing: .06em;
}
h6,
.h6 {
  font-size: 12px;
}
.hr-custom {
  height: 9px;
  margin: 0 19px;
  margin: 10px 0;
  border: none;
  background-position: center;
}
.format-background {
  background-size: cover;
  background-position: center;
}
.bold {
  font-weight: 600;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  padding-bottom: 7px;
}
ul.ct-unorderedList li {
  list-style-type: disc;
}
ul.ct-defaultColorList li {
  color: #333333 !important;
}
.ct-fw-300 {
  font-weight: 300;
}
.ct-fw-400 {
  font-weight: 400;
}
.ct-fw-500 {
  font-weight: 500;
}
.ct-fw-600 {
  font-weight: 600;
}
.ct-fw-700 {
  font-weight: 700;
}
.ct-fw-800 {
  font-weight: 800;
}
.ct-fw-900 {
  font-weight: 900;
}
.ct-fs-i {
  font-style: italic;
}
.ct-fs-n {
  font-style: normal;
}
.ct-u-displayTable,
.ct-u-displayTableVertical {
  display: table;
  width: 100%;
}
.ct-u-displayTableVertical {
  height: 100%;
}
.ct-u-displayTableVertical .ct-u-displayTableCell {
  vertical-align: middle;
}
.ct-u-displayTableRow {
  display: table-row;
}
.ct-u-displayTableCell {
  display: table-cell;
}
.ct-u-displayNone {
  display: block;
}
.ct-u-size18 {
  font-size: 18px;
}
.ct-u-size13 {
  font-size: 13px;
}
.ct-u-size14 {
  font-size: 14px;
}
.ct-u-size24 {
  font-size: 24px;
}
.ct-u-size20 {
  font-size: 20px;
}
@media (max-width: 991px) {
  .ct-u-size20 {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .ct-u-size20 {
    font-size: 14px;
  }
}
.ct-u-padding0 {
  padding: 0;
}
.ct-u-paddingLeft60 {
  padding-left: 60px;
}
.ct-u-paddingRight60 {
  padding-right: 60px;
}
.ct-u-padding10 {
  padding: 10px;
}
.ct-u-paddingBoth10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ct-u-paddingTop5 {
  padding-top: 5px;
}
.ct-u-paddingTop7 {
  padding-top: 7px;
}
.ct-u-paddingTop10 {
  padding-top: 10px;
}
.ct-u-paddingBottom5 {
  padding-bottom: 5px;
}
.ct-u-paddingBottom7 {
  padding-bottom: 7px;
}
.ct-u-paddingBottom10 {
  padding-bottom: 10px;
}
.ct-u-paddingBoth20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ct-u-paddingBottom16 {
  padding-bottom: 16px;
}
.ct-u-paddingBottom15 {
  padding-bottom: 15px;
}
.ct-u-paddingTop15 {
  padding-top: 15px;
}
.ct-u-paddingTop20 {
  padding-top: 20px;
}
.ct-u-paddingTop25 {
  padding-top: 25px;
}
.ct-u-paddingBottom20 {
  padding-bottom: 20px;
}
.ct-u-paddingBottom25 {
  padding-bottom: 25px;
}
.ct-u-paddingBoth30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ct-u-paddingTop15 {
  padding-top: 15px;
}
.ct-u-paddingTop30 {
  padding-top: 30px;
}
.ct-u-paddingBottom30 {
  padding-bottom: 30px;
}
.ct-u-paddingBoth40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ct-u-paddingTop40 {
  padding-top: 40px;
}
.ct-u-paddingTop45 {
  padding-top: 45px;
}
.ct-u-paddingBottom40 {
  padding-bottom: 40px;
}
.ct-u-paddingBoth50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ct-u-paddingTop50 {
  padding-top: 50px;
}
.ct-u-paddingBottom50 {
  padding-bottom: 50px;
}
.ct-u-paddingBoth60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ct-u-paddingTop60 {
  padding-top: 60px;
}
.ct-u-paddingBottom60 {
  padding-bottom: 60px;
}
.ct-u-paddingBoth70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ct-u-paddingTop70 {
  padding-top: 70px;
}
.ct-u-paddingBottom70 {
  padding-bottom: 70px;
}
.ct-u-paddingBoth80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ct-u-paddingTop80 {
  padding-top: 80px;
}
.ct-u-paddingBottom80 {
  padding-bottom: 80px;
}
.ct-u-paddingBoth90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.ct-u-paddingTop90 {
  padding-top: 90px;
}
.ct-u-paddingBottom90 {
  padding-bottom: 90px;
}
.ct-u-paddingBoth100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ct-u-paddingTop100 {
  padding-top: 100px;
}
.ct-u-paddingBottom100 {
  padding-bottom: 100px;
}
.ct-u-paddingBoth150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.ct-u-paddingTop150 {
  padding-top: 150px;
}
.ct-u-paddingBottom150 {
  padding-bottom: 150px;
}
.ct-u-paddingHorizon20 {
  padding-left: 20px;
  padding-right: 20px;
}
.ct-u-paddingHorizon30 {
  padding-left: 30px;
  padding-right: 30px;
}
.ct-u-paddingHorizon40 {
  padding-left: 40px;
  padding-right: 40px;
}
.ct-u-paddingHorizon50 {
  padding-left: 50px;
  padding-right: 50px;
}
.ct-u-paddingHorizon60 {
  padding-left: 60px;
  padding-right: 60px;
}
.ct-u-margin0 {
  margin: 0;
}
.ct-u-marginRight20 {
  margin-right: 20px;
}
.ct-u-marginRight10 {
  margin-right: 10px;
}
.ct-u-marginBottom20 {
  margin-bottom: 20px;
}
.ct-u-marginBoth10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ct-u-marginHorizon10 {
  margin-left: 10px;
  margin-right: 10px;
}
.ct-u-marginHorizon20 {
  margin-left: 20px;
  margin-right: 20px;
}
.ct-u-marginTop5 {
  margin-top: 5px;
}
.ct-u-marginTop10 {
  margin-top: 10px;
}
.ct-u-marginTop15 {
  margin-top: 15px;
}
.ct-u-marginBottom5 {
  margin-bottom: 5px;
}
.ct-u-marginBottom10 {
  margin-bottom: 10px;
}
.ct-u-marginBoth20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ct-u-marginTop20 {
  margin-top: 20px;
}
.ct-u-paddingTop20per {
  margin-top: 20%;
}
.ct-u-marginBottom20 {
  margin-bottom: 20px;
}
.ct-u-marginBottom25 {
  margin-bottom: 25px;
}
.ct-u-marginBoth30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ct-u-marginTop30 {
  margin-top: 30px;
}
.ct-u-marginBottom30 {
  margin-bottom: 30px;
}
.ct-u-marginBoth40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.ct-u-marginTop40 {
  margin-top: 40px;
}
.ct-u-marginBottom40 {
  margin-bottom: 40px;
}
.ct-u-marginBoth50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.ct-u-marginTop50 {
  margin-top: 50px;
}
.ct-u-marginBottom50 {
  margin-bottom: 50px;
}
.ct-u-marginBoth60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.ct-u-marginTop60 {
  margin-top: 60px;
}
.ct-u-marginBottom60 {
  margin-bottom: 60px;
}
.ct-u-marginBoth70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.ct-u-marginTop70 {
  margin-top: 70px;
}
.ct-u-marginBottom70 {
  margin-bottom: 70px;
}
.ct-u-marginBoth80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.ct-u-marginTop80 {
  margin-top: 80px;
}
.ct-u-marginBottom80 {
  margin-bottom: 80px;
}
.ct-u-marginBoth90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.ct-u-marginTop90 {
  margin-top: 90px;
}
.ct-u-marginBottom90 {
  margin-bottom: 90px;
}
.ct-u-marginBoth100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.ct-u-marginTop100 {
  margin-top: 100px;
}
.ct-u-marginBottom100 {
  margin-bottom: 100px;
}
.ct-u-marginBoth150 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.ct-u-marginTop150 {
  margin-top: 150px;
}
.ct-u-marginBottom150 {
  margin-bottom: 150px;
}
.ct-u-marginLeft10 {
  margin-left: 10px;
}
.ct-u-marginLeft40 {
  margin-left: 40px;
}
.ct-u-marginHorizon0 {
  margin-left: 0;
  margin-right: 0;
}
.ct-u-marginHorizon5 {
  margin-left: 5px;
  margin-right: 5px;
}
.ct-u-marginHorizon10 {
  margin-left: 10px;
  margin-right: 10px;
}
.ct-u-absoluteCenter {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.ct-u-center {
  vertical-align: middle;
}
.ct-u-clearBoth {
  clear: both;
}
.ct-u-colorWhite {
  color: #ffffff;
}
.ct-u-colorDark {
  color: #262626;
}
.ct-u-colorMotive {
  color: #ab9178;
}
.ct-u-colorIngredients {
  color: #666666;
}
.ct-u-colorBlack {
  color: #000000;
}
.ct-u-backgroundWhite {
  background-color: #ffffff;
}
.ct-u-font1 {
  font-family: 'Chonburi', cursive;
  letter-spacing: .06em;
}
.ct-u-font2 {
  font-family: 'Oswald', sans-serif;
}
.ct-u-font3 {
  font-family: 'Muli', sans-serif;
}
.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
}
.btn span {
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.btn:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}
.btn:hover:before,
.btn:focus:before,
.btn:active:before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
.btn:hover span,
.btn:focus span,
.btn:active span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
.btn.btn-sm.btn-primary:before,
.btn.btn-sm.btn-success:before,
.btn.btn-sm.btn-danger:before,
.btn.btn-sm.btn-warning:before,
.btn.btn-sm.btn-info:before {
  top: 5px !important;
}
.btn.btn-xs.btn-primary:before,
.btn.btn-xs.btn-success:before,
.btn.btn-xs.btn-danger:before,
.btn.btn-xs.btn-warning:before,
.btn.btn-xs.btn-info:before {
  top: 1px !important;
}
.btn-xs span {
  padding: 1px 5px;
}
.btn-sm span {
  padding: 5px 10px;
}
.btn-lg,
.btn-group-lg > .btn {
  font-size: 18px;
}
.btn-lg span {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 8px;
}
.btn-lg:before {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 8px;
}
.btn-default:before {
  background-color: #262626;
  color: #ffffff;
}
.btn-default span {
  background-color: #ffffff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: transparent;
}
.btn-inverse {
  color: #ffffff;
}
.btn-inverse:before {
  background-color: #ffffff;
  color: #262626;
}
.btn-inverse span {
  background-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active {
  background-color: transparent;
}
.btn-button--dark {
  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  padding: 13px 30px 13px 30px;
}
.btn-button--dark:hover, {
  background-color: #ab9178;
  color: white !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-button--white {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
}
.btn-button--white:hover,
.btn-button--white:active,
.btn-button--white:focus {
  background-color: #ab9178;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-button--brown {
  color: white;
  background-color: #ab9178;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
}
.btn-button--brown:hover {
  background-color: #262626;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-success {
  border-color: #5cb85c;
  background-color: #449d44;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #449d44;
  border-color: #449d44;
}
.btn-danger {
  border-color: #d9534f;
  background-color: #c9302c;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #c9302c;
  border-color: #c9302c;
}
.btn-info {
  border-color: #5bc0de;
  background-color: #31b0d5;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: #31b0d5;
  border-color: #31b0d5;
}
.btn-warning {
  border-color: #f0ad4e;
  background-color: #ec971f;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background-color: #ec971f;
  border-color: #ec971f;
}
.btn-primary {
  border-color: #fc4349;
  background-color: #fc4349;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fc4349;
  border-color: #fc4349;
}
@media (max-width: 767px) {
  html,
  body {
    height: 100%;
  }
  body.snapjs-left,
  body.snapjs-right {
    overflow: hidden;
  }
}
.ct-pageWrapper {
  z-index: 3;
  background-color: inherit;
  height: 100%;
  right: 0;
  overflow: auto;
}
@media (max-width: 1199px) {
  .ct-pageWrapper {
    overflow: auto;
  }
}
@media (max-width: 991px) {
  .ct-pageWrapper {
    height: auto;
  }
}
.ptn1 {
  background: url("../images/bg_pattern_01.jpg") repeat;
}
.ptn2 {
  background: url("../images/bg_pattern_02.jpg") repeat;
}
.ptn3 {
  background: url("../images/bg_pattern_03.jpg") repeat;
}
.ptn4 {
  background: url("../images/bg_pattern_04.jpg") repeat;
}
.ptn5 {
  background: url("../images/bg_pattern_05.jpg") repeat;
}
.ptn6 {
  background: url("../images/bg_pattern_06.jpg") repeat;
}
.ptn7 {
  background: url("../images/bg_pattern_07.jpg") repeat;
}
.ptn8 {
  background: url("../images/bg_pattern_08.jpg") repeat;
}
.ptn9 {
  background: url("../images/bg_pattern_09.jpg") repeat;
}
.ptn10 {
  background: url("../images/bg_pattern_10.jpg") repeat;
}
.ptn11 {
  background: url("../images/bg_pattern_11.jpg") repeat;
}
.ptn12 {
  background: url("../images/bg_pattern_12.jpg") repeat;
}
.ptn13 {
  background: url("../images/main-pattern.png") repeat;
}
@media (max-width: 767px) {
  .ct-pageWrapper {
    position: relative;
    padding-top: 70px;
    z-index: 5;
    left: 0;
  }
  .ptn1 .ct-pageWrapper {
    background: url("../images/bg_pattern_01.jpg") repeat;
  }
  .ptn2 .ct-pageWrapper {
    background: url("../images/bg_pattern_02.jpg") repeat;
  }
  .ptn3 .ct-pageWrapper {
    background: url("../images/bg_pattern_03.jpg") repeat;
  }
  .ptn4 .ct-pageWrapper {
    background: url("../images/bg_pattern_04.jpg") repeat;
  }
  .ptn5 .ct-pageWrapper {
    background: url("../images/bg_pattern_05.jpg") repeat;
  }
  .ptn6 .ct-pageWrapper {
    background: url("../images/bg_pattern_06.jpg") repeat;
  }
  .ptn7 .ct-pageWrapper {
    background: url("../images/bg_pattern_07.jpg") repeat;
  }
  .ptn8 .ct-pageWrapper {
    background: url("../images/bg_pattern_08.jpg") repeat;
  }
  .ptn9 .ct-pageWrapper {
    background: url("../images/bg_pattern_09.jpg") repeat;
  }
  .ptn10 .ct-pageWrapper {
    background: url("../images/bg_pattern_10.jpg") repeat;
  }
  .ptn11 .ct-pageWrapper {
    background: url("../images/bg_pattern_11.jpg") repeat;
  }
  .ptn12 .ct-pageWrapper {
    background: url("../images/bg_pattern_12.jpg") repeat;
  }
  .ptn13 .ct-pageWrapper {
    background: url("../images/main-pattern.png") repeat;
  }
}

